{% extends "login/base.html" %} {% block content %}
<section id="add_authentication" class="skew_background">
  <h1>Two factor authentication</h1>
  <p>Scan the QR code and add your account to your preferred authenticator app</p>
  {% load static %}
  <div class="qrcode_container">
    <img height="auto" width="auto" src="{% static 'login/authy-url.svg' %}" alt="qr code" />
  </div>

  <p>Then enter your authentication code below.</p>
  <form action="." method="POST">
    {% csrf_token %}
    <input type="number" name="register_topt_code" id="register_topt_code" placeholder="Authenticator code" />
    <button class="button" type="submit" name="register_authenticate">Submit</button>
  </form>
  {% if error %} {{ error }} {% endif %}
</section>
{% endblock %}
