{% extends "login/base.html" %} {% block content %}
<section id="authentication" class="skew_background">
  <h1>Two factor authentication</h1>
  <p>Enter your authentication code below.</p>
  <form action="." method="POST">
    {% csrf_token %}
    <input type="number" name="topt_code" id="topt_code" placeholder="Authenticator code" />
    <button class="button" type="submit" name="authenticate">Continue</button>
  </form>
  {% if error %} {{ error }} {% endif %}
</section>

{% endblock %}
