<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Kea bank" />
    <meta name="keywords" content="bank, kea" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" media="screen" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <title>KEA Bank</title>
  </head>
  <body>
    <div class="topbar">
      <a href="{% url 'login:index' %}">
        <img src="{% static 'login/logo.svg' %}" alt="keabanklogo" srcset="" />
      </a>
    </div>

    {% block content %} {% endblock %} {% block footer %} {% endblock %}
  </body>
</html>
