<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="keywords" content="bank, kea" />
    <meta name="description" content="Kea bank" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}" media="screen" />
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    <title>KEA Bank</title>
  </head>
  <body>
    <div class="topbar">
      <a href="{% url 'login:index' %}">
        <img src="{% static 'login/logo.svg' %}" alt="keabanklogo" srcset="" />
      </a>
    </div>
    <section id="homepage" class="skew_background">
      <div class="column">
        <h1>KEA Bank</h1>
        <p>Join the best bank in the world!</p>
        <div class="button_container">
          <a class="button" href="{% url 'login:sign_up' %}"
            ><span class="icon"><img src="{% static 'login/signup.svg' %}" alt="" srcset="" /></span> Sign Up</a
          >
          <a class="button" href="{% url 'login:login' %}"
            ><span><img src="{% static 'login/login.svg' %}" alt="" srcset="" /></span><span>Login</span>
          </a>
        </div>
      </div>
      <div class="column">
        <img src="{% static 'login/keabankcover.svg' %}" alt="" srcset="" />
      </div>
    </section>
  </body>
</html>
