{% extends "login/base.html" %} {% block content %}
<section id="login" class="skew_background">
  <div class="column">
    <h1>Login</h1>
    <form action="." method="POST">
      {% csrf_token %}
      <input type="text" name="user" placeholder="User Name" />
      <input type="password" name="password" placeholder="Password" />
      <button name="login" class="button">Login</button>
    </form>
    {% if error %} {{ error }} {% endif %} {% load static %}
    <!-- <span class="qrcode_container">
      <img class="qrcode" src="{% static 'login/authy-url.svg' %}" alt="qr code" />
    </span> -->
    <span>Forgot your password?</span>
    <a href="{% url 'login:request_password_reset' %}">Reset your password here</a>
    <span>Don't have an account?</span>
    <a href="{% url 'login:sign_up' %}">Sign up here</a>
  </div>
  <div class="column">
    {% load static %}
    <img src="{% static 'login/keabankcover.svg' %}" alt="" srcset="" />
  </div>
</section>

{% endblock %}
