<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Kea bank" />
    <meta name="keywords" content="bank, kea" />
    <title>Request Password Reset</title>
  </head>
  <body>
    <h1>Request Password Reset</h1>
    <hr />
    <form action="{% url 'login:request_password_reset' %}" method="POST">
      {% csrf_token %}
      <input type="text" name="username" placeholder="User Name" />
      <br />
      <input type="email" name="email" placeholder="Email Address" />
      <br />
      <button>Submit</button>
    </form>
    <hr />
  </body>
</html>
