{% extends "login/base.html" %} {% block content %}
<section id="signup" class="skew_background">
  <div class="column">
    <h1>Sign Up</h1>
    <form action="." method="POST">
      {% csrf_token %}
      <input type="text" name="user" placeholder="User Name" />
      <input type="email" name="email" placeholder="Email Address" />
      <input type="text" name="phone_number" placeholder="Phone number" />
      <input type="password" name="password" placeholder="Password" />
      <input type="password" name="confirm_password" placeholder="Confirm Password" />
      <label for="is_staff">Is employee?</label>
      <select name="is_staff" id="is_staff">
        <option value="yes">Yes</option>
        <option value="no">No</option>
      </select>
      <button name="signup" class="button">Sign Up</button>
    </form>
    {% if error %} {{ error }} {% endif %}

    <a href="{% url 'login:login' %}">Login instead</a>
  </div>
  <div class="column">
    {% load static %}
    <img src="{% static 'login/keabankcover.svg' %}" alt="" srcset="" />
  </div>
</section>

{% endblock %}
