/* GENERAL START */

* {
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
}

img {
  width: 100%;
}

h1,
h2,
h3,
h4,
h5,
p,
a {
  font-family: 'Poppins', sans-serif;
}

a {
  color: black;
}

.center {
  text-align: center;
}

.flex {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.general_margin {
  margin: 90px;
}

table,
td,
th {
  border: 1px solid black;
  border-collapse: collapse;
}

table {
  margin: 10px 0 20px 0;
}

td,
th {
  padding: 5px 10px;
}

form {
  display: flex;
  gap: 0.5rem;
  flex-direction: column;
  width: 400px;
  margin: 0.5rem 0;
  padding-bottom: 30px;
}

input {
  width: 100%;
  padding: 0.5rem;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem;
  align-items: baseline;
}

.icon {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* GENERAL END */

.bank_topbar,
.topbar {
  position: fixed;
  top: 0;
  left: 0;
  height: 80px;
  width: 100%;
  z-index: 2;
  display: flex;
  align-items: center;
  padding: 0 90px;
  background-color: #0b45e6;
}
.topbar img {
  width: 120%;
}

.bank_topbar {
  justify-content: space-between;
}

.bank_topbar a {
  color: white;
  text-decoration: none;
  font-size: 12px;
}
.bank_topbar .container {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}
.bank_topbar .container p {
  color: white;
}
#homepage a,
#signup a,
#login a {
  color: white;
  font-weight: 400;
}

.skew_background {
  background-color: #0b45e6;
  color: white;
  height: 70vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 90px;
  position: relative;
  z-index: 1;
}
.skew_background::before,
.skew_background::after {
  background: inherit;
  content: '';
  display: block;
  height: 50%;
  left: 0;
  position: absolute;
  right: 0;
  z-index: -1;
  /* -webkit-backface-visibility: hidden; */
}

.skew_background::after {
  bottom: 0;
  transform: skewY(-8deg);
  transform-origin: 100%;
}

#add_authentication,
#authentication {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.column {
  flex-grow: 1;
  flex-basis: 300px;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.column:nth-child(1) {
  justify-content: center;
}
.column:nth-child(2) {
  justify-content: flex-end;
}

#homepage p {
  color: white;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  border: 1px solid #fe5a88;
  background-color: #fe5a88;
  padding: 10px 25px;
  width: inherit;
  border-radius: 5px;
  text-decoration: none;

  box-shadow: 0 8px 16px 0 rgba(63, 41, 98, 0.214), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

#homepage h1 {
  font-size: 80px;
}

.button_container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-top: 30px;
}

.qrcode {
  width: 100%;
}

.qrcode_container {
  background-color: white;
  width: 130px;
  height: auto;
}

#customer_index h1 {
  margin: 30px 0;
}

.buttons-menu {
  display: flex;
  gap: 1rem;
  list-style-type: none;
  width: 500px;
  margin-bottom: 50px;
}

.tranfer-money-nav ul {
  display: flex;
  color: pink;
  margin: 50px 0;
  list-style-type: none;
  gap: 1rem;
}

.tranfer-money-nav ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  border: 1px solid #fe5a88;
  background-color: #fe5a88;
  padding: 10px 25px;
  width: inherit;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(63, 41, 98, 0.214), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}

.tranfer-money-nav ul li .selected {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  color: white;
  border: 1px solid #242fff;
  background-color: #242fff;
  padding: 10px 25px;
  width: inherit;
  border-radius: 5px;
  text-decoration: none;
  box-shadow: 0 8px 16px 0 rgba(63, 41, 98, 0.214), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}