{% extends "bank/base.html" %} {% block content %}
<section id="account_details" class="general_margin">
  <h3>Account Details</h3>
  <table>
    <tr>
      <th>Account Name</th>
      <th>Balance</th>
    </tr>
    <tr>
      <td>{{ account.account_name }}</td>
      <td>{{ account.balance }}</td>
    </tr>
  </table>

  <h3>Account Transactions</h3>
  {% if account.movements %}
  <table>
    <tr>
      <th>Account Name</th>
      <th>Transfer text</th>
      <th>Transfer amount</th>
    </tr>

    {% for movement in account.movements %}
    <tr>
      <td>{{ movement.account.account_name }}</td>
      <td>{{ movement.text }}</td>
      <td>{{ movement.amount }}</td>
    </tr>
    {% endfor %}
  </table>
  {% else %}
  <p>No transactions have been made on this account</p>
  {% endif %}
</section>

{% endblock %}
