{% extends "bank/base.html" %} {% block content %}
<section id="customer_index" class="general_margin">

  <div class="tranfer-money-nav">
    <ul>
        <li><a class="button" href="{% url 'bank:index' %}">Go back</a></li>
    </ul>
  </div>  

  <div class="tranfer-money-nav">
    <ul>
        <li><a  href="{% url 'bank:transfer_money' %}">Transfer between own accounts</a></li>
        <li><a href="{% url 'bank:internal_transfer' %}">Transfer to another person</a></li>
        <li><a class="selected" href="#">Transfer to another person in another bank</a></li>
    </ul>
  </div>

  <form action="." method="POST">
    <h2>Transfer from bank to bank</h2>
    {% csrf_token %}

    <label for="from_account">From account</label>
    <select required  name="from_account" id="from_account">
      {% for account in accounts %}
      <option value="{{ account.pk }}">{{ account.account_name }}</option>
      {% endfor %}
    </select>
    <label for="bank_transfer_text">Text</label>
    <input required type="text" name="bank_transfer_text" id="bank_transfer_text" />

    <label for="bank_transfer_amount">Transfer amount</label>
    <input required type="number" name="bank_transfer_amount" id="bank_transfer_amount" />

    <label for="account_id">External Account ID</label>
    <input required type="text" name="account_id" id="account_id" />

    <button class="button" type="submit" name="bank_transfer">Bank transfer</button>
  </form>
  
</section>

{% endblock %}
