{% extends "bank/base.html" %} {% block content %}
<div class="general_margin">
<h3>Customer Details</h3>
<a href="{% url 'bank:employee_index' %}">Go back</a>

<table>
  <tr>
    <th>Customer username</th>
    <th>Customer rank</th>
  </tr>
  <tr>
    <td>{{ customer.username }}</td>
    <td>{{ profile.customer_rank }}</td>
  </tr>
</table>

<h3>Customer acccounts</h3>
<table>
  <tr>
    <th>Account name</th>
    <th>Account balance</th>
  </tr>
  {% for account in customer_accounts %}
  <tr>
    <td>{{ account.account_name }}</td>
    <td>{{ account.balance }}</td>
  </tr>
  {% endfor %}
</table>

<h3>Create new customer account</h3>
<form action="." method="POST">
  {% csrf_token %}
  <input type="text" name="account_name" id="account_name" placeholder="Account name" />
  <button type="submit" id="create_customer_account" name="create_customer_account">Add new customer account</button>
</form>

<h3>Change customer rank</h3>
<form action="." method="POST">
  {% csrf_token %}
  <p>Old rank: {{ profile.customer_rank }}</p>
  <p>New rank</p>
  <select name="rank" id="rank">
    <option value="basic">Basic</option>
    <option value="silver">Silver</option>
    <option value="gold">Gold</option>
  </select>
  <button type="submit" id="change_rank" name="change_rank">Change customer rank</button>
</form>
</div>

{% endblock %}
