{% extends "bank/base.html" %} {% block content %}
<section id="customer_index" class="general_margin">
  <h1>Welcome, {{ user.username }}</h1>
  <div class="customer_accounts">
    <h4>Your accounts</h4>

    {% if accounts %}
    <table>
      <tr>
        <th>Account Name</th>
        <th>Balance</th>
        <th>Account ID</th>
      </tr>

      {% for account in accounts %}
      <tr>
        <td><a href="{% url 'bank:account_details' account.pk %}">{{ account.account_name }}</a></td>
        <td>{{ account.balance }}</td>
        <td>{{ account.account_id }}</td>
      </tr>
      {% endfor %}
    </table>
    {% else %}
    <p>You have no accounts.</p>
    {% endif %}
  </div>
  <div class="create_account">
    <h4>Create a new account</h4>
    <form action="." method="POST">
      {% csrf_token %}
      <div class="flex">
        <input type="text" name="account_name" id="account_name" placeholder="Account name" />
        <button class="button" type="submit" name="create_account">Create account</button>
      </div>
    </form>
  </div>

  <div>
    <ul class="buttons-menu">
      {% if user.profile.customer_rank == 'silver' or user.profile.customer_rank == 'gold' %}
      <li><a class="button" href="{% url 'bank:loan' %}">Take a loan</a></li>
      {% endif %}
      <li><a class="button" href="{% url 'bank:transfer_money' %}">Transfer money</a></li>
    </ul>
  </div>

  <div id="scheduled_payments">
    <h4>Scheduled payments</h4>
    {% if scheduled_payments %}

    <table>
      <tr>
        <th>Scheduled Payment Title</th>
        <th>Created at</th>
        <th>From Account</th>
        <th>To Account</th>
        <th>Amount</th>
      </tr>
      {% for scheduled_payment in scheduled_payments %}
      <tr>
        <td>{{ scheduled_payment.title }}</td>
        <td>{{ scheduled_payment.created_at }}</td>
        <td>{{ scheduled_payment.from_account }}</td>
        <td>{{ scheduled_payment.to_account }}</td>
        <td>{{ scheduled_payment.amount }}</td>
      </tr>
      {% endfor %}
    </table>
  </div>
  {% else %}
  <p>You have no scheduled payments</p>
  {% endif%}
  <div class="add_scheduled_payment">
    <form action="." method="POST">
      <h2>Add a scheduled payment</h2>
      {% csrf_token %}

      <label for="scheduled_payment_title">Scheduled Payment Title</label>
      <input type="text" name="scheduled_payment_title" id="scheduled_payment_title" />

      <label for="scheduled_payment_amount">Amount</label>
      <input type="number" name="scheduled_payment_amount" id="scheduled_payment_amount" />

      <label for="sp_accounts">From account</label>
      <select name="sp_accounts" id="sp_accounts">
        {% for account in accounts %}
        <option value="{{ account.pk }}">{{ account.account_name }}</option>
        {% endfor %}
      </select>

      <label for="sp_accounts2">To account</label>
      <select name="sp_accounts2" id="sp_accounts2">
        {% for account in accounts %}
        <option value="{{ account.pk }}">{{ account.account_name }}</option>
        {% endfor %}
      </select>
      <label for="sp_text">Text for debit account</label>
      <input type="text" name="sp_text" id="sp_text" />

      <label for="sp_text2">Text for credit account</label>
      <input type="text" name="sp_text2" id="sp_text2" />

      <button class="button" type="submit" name="add_scheduled_payment">Add Scheduled Payment</button>
    </form>
  </div>
</section>

{% endblock %}
