{% extends "bank/base.html" %} {% block content %}
<!-- <ul>
  <li>Username: {{ user.username }}</li>
  <li>Phone number: {{ user.profile.phone_number }}</li>
  <li>Rank: {{ user.profile.customer_rank }}</li>
  <li>Is staff?: {{ user.is_staff }}</li>
</ul> -->
<section id="index_employee" class="general_margin">
  <h1>Create customer</h1>
  <form action="{% url 'bank:employee_index' %}" method="POST">
    {% csrf_token %}
    <input type="text" name="user" placeholder="User Name" />
    <input type="email" name="email" placeholder="Email Address" />
    <input type="text" name="phone_number" placeholder="Phone number" />
    <input type="password" name="password" placeholder="Password" />
    <input type="password" name="confirm_password" placeholder="Confirm Password" />
    <button>Create customer</button>
  </form>
  <p>{{ message }}</p>
  <p>{{ error }}</p>
  <h2>All customers</h2>
  <ul>
      
    {% for customer in customers %}
    <a href="{% url 'bank:customer_details' customer.pk %}"><li>{{ customer.username }}</li></a>
    {% endfor %}
  </ul>
</section>
{% endblock %}
