{% extends "bank/base.html" %} {% block content %}

<section id="customer_index" class="general_margin">

  <div class="tranfer-money-nav">
    <ul>
        <li><a class="button" href="{% url 'bank:index' %}">Go back</a></li>
    </ul>
  </div>  

    <div class="tranfer-money-nav">
        <ul>
            <li><a  href="{% url 'bank:transfer_money' %}">Transfer between own accounts</a></li>
            <li><a class="selected" href="#">Transfer to another person</a></li>
            <li><a href="{% url 'bank:bank_to_bank_transfer' %}">Transfer to another person in another bank</a></li>
        </ul>
    </div>
  
    <div class="internal_transfer_money">
      <form action="." method="POST">
        <h2>Transfer money internally</h2>
        {% csrf_token %}
        <label for="from_internal_account">From account</label>
        <select required name="from_internal_account" id="from_internal_account">
          {% for account in accounts %}
          <option value="{{ account.pk }}">{{ account.account_name }}</option>
          {% endfor %}
        </select>
  
        <label for="to_internal_account">Internal Account ID</label>
        <input required type="text" name="to_internal_account" id="to_internal_account" />
  
        <label for="internal_transfer_text">Text for debit account</label>
        <input required type="text" name="internal_transfer_text" id="internal_transfer_text" />
  
        <label for="internal_transfer_text2">Message for recipient</label>
        <input required type="text" name="internal_transfer_text2" id="internal_transfer_text2" />
  
        <label for="internal_transfer_amount">Transfer amount</label>
        <input required type="number" name="internal_transfer_amount" id="internal_transfer_amount" />
        <button class="button" type="submit" name="internal_transfer_money">Transfer money</button>
      </form>
      {% if error %} {{ error }} {% endif %}
    </div>
  
    
  </section>
  
  {% endblock %}
  