{% extends "bank/base.html" %} {% block content %}
<section id="customer_index" class="general_margin">
  <div class="tranfer-money-nav">
    <ul>
        <li><a class="button" href="{% url 'bank:index' %}">Go back</a></li>
    </ul>
</div>
    
  {% if user.profile.customer_rank == 'silver' or user.profile.customer_rank == 'gold' %}
  <div class="get_loan">
    <h2>Get loan</h2>
    <form action="." method="POST">
      {% csrf_token %}
      <input required type="text" name="loan_name" id="loan_name" placeholder="Loan name" />
      <input required type="text" name="loan_text" id="loan_text" placeholder="Loan text" />
      <input required type="text" name="loan_amount" id="loan_amount" placeholder="Loan amount" />
      <label for="accounts3">Account to credit</label>
      <select required name="accounts3" id="accounts3">
        {% for account in accounts %}
        <option value="{{ account.pk }}">{{ account.account_name }}</option>
        {% endfor %}
      </select>
      <button class="button" type="submit" name="make_loan">Get Loan</button>
    </form>
  </div>
  {% endif %}
  
</section>

{% endblock %}
