{% extends "bank/base.html" %} {% block content %}
<section id="customer_index" class="general_margin">
  <div class="tranfer-money-nav">
    <ul>
        <li><a class="button" href="{% url 'bank:index' %}">Go back</a></li>
    </ul>
  </div>  
 
  <div class="tranfer-money-nav">
      <ul>
          <li><a class="selected" href="#">Transfer between own accounts</a></li>
          <li><a href="{% url 'bank:internal_transfer' %}">Transfer to another person</a></li>
          <li><a href="{% url 'bank:bank_to_bank_transfer' %}">Transfer to another person in another bank</a></li>
      </ul>
  </div>
  
  <div class="transfer_money">
    <form action="." method="POST">
      <h2>Transfer money</h2>
      {% csrf_token %}
      <label for="accounts">From account</label>
      <select required name="accounts" id="accounts">
        {% for account in accounts %}
        <option value="{{ account.pk }}">{{ account.account_name }}</option>
        {% endfor %}
      </select>

      <label for="accounts2">To account</label>
      <select required name="accounts2" id="accounts2">
        {% for account in accounts %}
        <option value="{{ account.pk }}">{{ account.account_name }}</option>
        {% endfor %}
      </select>

      <label for="transfer_text">Text for debit account</label>
      <input required type="text" name="transfer_text" id="transfer_text" />

      <label for="transfer_text2">Text for credit account</label>
      <input required type="text" name="transfer_text2" id="transfer_text2" />
      <label for="transfer_amount">Transfer amount</label>
      <input required type="number" name="transfer_amount" id="transfer_amount" />
      <button class="button" type="submit" name="transfer_money">Transfer money</button>
    </form>
  </div>
  
</section>

{% endblock %}
